@import '~antd/dist/antd.css';
.heading {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
}

.App {
  color: rgb(10, 25, 41);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

.home {
  width: 50%;
  margin: 0 auto;
}
